.friendList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    border-radius: 5px;


    text-align: center;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        background-color: cornsilk;
        padding: 30px;
}

